.home-page {
    padding: 2rem;
    min-height: 100vh;
    box-sizing: border-box;
}

.home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.4rem;
}

.home-logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: black;
    margin-bottom: 1rem;
}

.home-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #1c1c1c;
    margin: 0;
}

/* Fondo para cada modo */
.couple-bg {
    background-color: #292828;
}

.friendship-bg {
    background-color: #292828;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.home-buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 20px 0;
}

.like-button, .dislike-button {
    width: 60px; /* ancho fijo para que sea un círculo */
    height: 60px; /* alto igual que ancho */
    font-size: 24px;
    border-radius: 50%; /* círculo perfecto */
    border: none;
    cursor: pointer;
    display: flex; /* para centrar el emoji */
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
}

.like-button {
    background-color: #ff7aa2;
    color: white;
}

.dislike-button {
    background-color: #ffcccc;
    color: black;
}

/* Hover efecto */
.like-button:hover, .dislike-button:hover {
    transform: scale(1.1);
}
