.home-page {
    padding: 2rem;
    min-height: 100vh;
    box-sizing: border-box;
}

.home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.4rem;
}

.home-logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: black;
    margin-bottom: 1rem;
}

.home-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #1c1c1c;
    margin: 0;
}

/* Fondo para cada modo */
.couple-bg {
    background-color: #292828;
}

.friendship-bg {
    background-color: #292828;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.subscription-status {
    margin-top: 1rem;
    padding: 1rem;
    border: 2px dashed white;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    text-align: center;
    color: white;
}

.subscription-status p {
    margin: 0;
    font-size: 1rem;
}

.sub-message {
    font-size: 0.8rem;
    color: #999;
}
